﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebFormMenu.aspx.cs" Inherits="WebAppPubs.WebFormMenu" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/WebFormConsultaEditora.aspx">Consultar Editora</asp:HyperLink>
        </div>
        <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/WebFormEditora.aspx">Cadastrar Editora</asp:HyperLink>
    </form>
</body>
</html>
